@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/img/backgroundHck.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

}

.conteinerAdmin{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 350px;
    height: 400px;
    border-radius: 6px;
    box-shadow: rgb(57, 255, 20) 0px 22px 70px 4px;
}

.H1Adm{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.dataDiv{
    height: 45%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgb(57, 255, 20)3px 3px 6px 0px inset, rgb(57, 255, 20) -3px -3px 6px 1px inset;
    overflow-x: auto;
}
.names{
    display:flex;
}
.esp_1,.esp_2,.esp_3{
    color: red;
    position: relative;
    right: -10px;
    font-size: 16px;
    font-weight: 500;
}

.btn{
    padding: 8px 10px;
    border-radius: 6px;
    outline: none;
    border: none;
}
.btn a{
    text-decoration: none;
    color: red;
}